table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.button {
    background-color: #34495e;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.button:hover {
    background: #9b59b6;
}

div.channels {
    position: fixed;
    height: 50px;
    width: 100%;
}

.dummy_table {
    height: 50px;
}

#search_pkgs {
    background-image: url('/static/searchicon.png'); /* Add a search icon to input */
    background-size: contain; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: auto; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 50px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

