<html>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <body>
    {% include 'forkme.html' %}
    <div class="channels">
    {% for channel in pkg_info.keys() %}
        <a href="#{{ channel }}" class="button">{{ channel.upper() }}</a>
    {% endfor %}
    </div>
    <div class="content">
    {% for channel in pkg_info.keys() %}
    <div id="{{ channel }}" class="dummy_table">
    </div>
    <table>
        <thead>
            <tr>
                <th>Conda Package Name</th>
                <th>Arch Linux Package Name</th>
                <th>Status</th>
                <th>{{ channel.upper() }} Version</th>
                <th>ARCH LINUX Version</th>
            </tr>
        </thead>
        {% for pkg in pkg_info[channel] %}
        <tr>
            <td>{{ pkg.conda_pkg_name }}</td>
            <td>{{ pkg.archlinux_pkg_name }}</td>
            <td>{{ pkg.conda_pkg_status }}</td>
            <td>{{ pkg.conda_pkg_ver }}</td>
            <td>{{ pkg.archlinux_pkg_ver}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
    </div>
    </body>
</html>
