<html>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <body>
    {% include 'forkme.html' %}
    <div class="content">
    <div id="{{ channel }}" class="dummy_table">
    </div>
    <table>
        <thead>
            <tr>
                <th>Package Name</th>
                <th>Status</th>
                <th>{{ ch1.upper() }} Version</th>
                <th>{{ ch2.upper() }} Version</th>
            </tr>
        </thead>
        {% for pkg in pkg_info %}
        <tr>
            <td>{{ pkg.pkg_name }}</td>
            <td>{{ pkg.pkg_status }}</td>
            <td>{{ pkg.ch1_ver }}</td>
            <td>{{ pkg.ch2_ver}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    </body>
</html>
