<html>
  {% include 'header.html' %}
  <body>
    {% include 'forkme.html' %}
    <div id="routes">
      <button class="btn btn-embossed btn-danger" onclick="location.href = '/pypi';">
        PyPI
      </button>
      <button class="btn btn-embossed btn-primary" onclick="location.href = '/archlinux';">
        ArchLinux
      </button>
      <button class="btn btn-embossed btn-info" onclick="location.href = '/channeldiff';">
        Channel Diff
      </button>
    </div>
    </div>
  </body>
</html>
